{% extends 'app/bootstrap.html' %}

{% load django_bootstrap5 %}

{% block bootstrap5_content %}
    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="https://github.com/yyLeaves/algo-assignment/">MoonBucks</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sentiment' %}">Sentiment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pick-country' %}">Pick Country</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'country' %}">Country</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'article' %}">Article</a>
          </li>
        </ul>
      </div>
    </nav>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}

