{% extends 'app/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Countries{% endblock %}

{% block content %}
    <div class="mb-3">
        This is <em>Yeyang</em> for <strong>Algorithm Design and Analysis</strong>
    </div>

    <form action="./country.html" method="post" class="form" name="sentiment-analysis">
        {% csrf_token %}
        <div class="mb-3">
        </div>
            <div class="mb-3">
                <p class="mb-3">
                    {% bootstrap_button button_type="submit" button_class="btn-success" content="Sentiment Analysis for top 5 countries" %}
                </p>
            </div>
        <div>

        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Result</a>
          </li>


          <li class="nav-item">
            <a class="nav-link text-success" href="Bar.html">Bar Graph</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success" href="Rank.html">Score Graph</a>
          </li>
        </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="res" role="tabpanel" aria-labelledby="home-tab">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Country</th>
                          <th scope="col">Sentiment Score</th>
                          <th scope="col">Positive Words</th>
                          <th scope="col">Negtive Words</th>
                          <th scope="col">Neutral Words</th>
                          <th scope="col">Stop Words</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">US</th>
                          <td>{{ USScore }}</td>
                          <td>{{ USPos }}</td>
                          <td>{{ USNeg }}</td>
                          <td>{{ USNeutral }}</td>
                          <td>{{ USStop }}</td>
                        </tr>
                        <tr>
                          <th scope="row">CA</th>
                          <td>{{ CAScore }}</td>
                          <td>{{ CAPos }}</td>
                          <td>{{ CANeg }}</td>
                          <td>{{ CANeutral }}</td>
                          <td>{{ CAStop }}</td>
                        </tr>
                        <tr>
                          <th scope="row">JP</th>
                          <td>{{ JPScore }}</td>
                          <td>{{ JPPos }}</td>
                          <td>{{ JPNeg }}</td>
                          <td>{{ JPNeutral }}</td>
                          <td>{{ JPStop }}</td>
                        </tr>
                        <tr>
                          <th scope="row">CN</th>
                          <td>{{ CNScore }}</td>
                          <td>{{ CNPos }}</td>
                          <td>{{ CNNeg }}</td>
                          <td>{{ CNNeutral }}</td>
                          <td>{{ CNStop }}</td>
                        </tr>
                        <tr>
                          <th scope="row">GB</th>
                          <td>{{ GBScore }}</td>
                          <td>{{ GBPos }}</td>
                          <td>{{ GBNeg }}</td>
                          <td>{{ GBNeutral }}</td>
                          <td>{{ GBStop }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
        </div>

    </form>




{% endblock %}

