{% extends 'app/base.html' %}
{% load django_bootstrap5 %}

{% block title %}MoonBucks{% endblock %}

{% block content %}
    <div class="mb-3">
        We don't <strong>make coffee</strong>, we are just <i><b>transporters</b></i> of coffee beans.
    </div>
    <div>
        <div class="mb-3"><img src="https://imgpp.com/s1/2022/06/23/moonbucks_cup.webp" alt="moonbucks_cup.webp" border="0" width="100%"/></div>
    <div class="mb-3">
        &#169; This is <em>Yeyang</em> from <strong>Algorithm Design and Analysis</strong>.
    </div>
    </div>
{% endblock %}