{% extends 'app/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Probability{% endblock %}

{% block content %}
    <div class="mb-3">
        We don't <strong>make coffee</strong>, we are just <i><b>transporters</b></i> of coffee beans.
    </div>


    <form action="prob.html" method="post" class="form" name="sentiment-analysis">
        {% csrf_token %}
        <div class="mb-3">
        </div>
            <div class="mb-3">
                <p class="mb-3">
                    {% bootstrap_button button_type="submit" button_class="btn-success" content="Probability Analysis" %}
                </p>
            </div>
        <div>
            <section>

            </section>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="res" role="tabpanel" aria-labelledby="home-tab">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Country</th>
                          <th scope="col">Sentiment Score</th>
                          <th scope="col">Cost</th>
                          <th scope="col">Probability</th>
                          <th scope="col">Rank</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row"><input class="form-control" name="n1" placeholder="US"></th>
                          <td><input type="number" step="0.01" class="form-control" name="s1" placeholder="1.43"></td>
                          <td><input type="number" class="form-control" name="c1" placeholder="9700"></td>
                          <td>{{ p1 }}</td>
                          <td>{{ r1 }}</td>
                        </tr>
                        <tr>
                          <th scope="row"><input class="form-control" name="n2" placeholder="CA"></th>
                          <td><input type="number" step="0.01" class="form-control" name="s2" placeholder="0.87"></td>
                          <td><input type="number" class="form-control" name="c2" placeholder="6777"></td>
                          <td>{{ p2 }}</td>
                          <td>{{ r2 }}</td>
                        </tr>
                        <tr>
                          <th scope="row"><input class="form-control" name="n3" placeholder="JP"></th>
                          <td><input type="number" step="0.01" class="form-control" name="s3" placeholder="4.72"></td>
                          <td><input type="number" class="form-control" name="c3" placeholder="1721"></td>
                          <td>{{ p3 }}</td>
                          <td>{{ r3 }}</td>
                        </tr>
                        <tr>
                          <th scope="row"><input class="form-control" name="n4" placeholder="CN"></th>
                          <td><input type="number" step="0.01" class="form-control" name="s4" placeholder="0.19"></td>
                          <td><input type="number" class="form-control" name="c4" placeholder="4292"></td>
                          <td>{{ p4 }}</td>
                          <td>{{ r4 }}</td>
                        </tr>
                        <tr>
                          <th scope="row"><input class="form-control" name="n5" placeholder="GB"></th>
                          <td><input type="number" step="0.01" class="form-control" name="s5" placeholder="2.57"></td>
                          <td><input type="number" class="form-control" name="c5" placeholder="715"></td>
                          <td>{{ p5 }}</td>
                          <td>{{ r5 }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
        </div>
    <div><a class="btn btn-success" href="pchart.html" role="button">View Chart</a></div>

    </form>




{% endblock %}

