{% extends 'app/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Sentiment Analysis{% endblock %}

{% block content %}
    <div class="mb-3">
        This is <em>Yeyang</em> for <strong>Algorithm Design and Analysis</strong>
    </div>
    <form action="./sentiment.html" method="post" class="form" name="sentiment-analysis">
    {% csrf_token %}
    <div class="mb-3">
        <textarea required="True" class="form-control" placeholder="Paste your article here!" id="floatingTextarea2" style="height: 300px" name="q"></textarea>
{#        <label for="floatingTextarea2"></label>#}
    </div>
        <div class="mb-3"><p>{% bootstrap_button button_type="submit" content="Start Analyse!" %} </div>

        <p>
            Score of Sentiment Analysis is: <b>{{ score }}</b>
        </p>
        <p>
            Positive Words: <b>{{ positive }}</b>
        </p>
        <p>
            Negative Words: <b>{{ negative }}</b>
        </p>
        <p>
            Stop Words: <b>{{ stop }}</b>
        </p>
        <p>
            Neutral Words: <b>{{ neutral }}</b>
        </p>

        <p>{{ rlt }}</p>

    </form>

{% endblock %}

